<div id="app-container" class="position-relative">
  <app-header></app-header>
  <button (click)="sidebarToggle()" *ngIf="!sidebar"  class="btn position-absolute" style="top: 7%; z-index: 1">
    <i class="fas fa-list"></i>
  </button>
  <div class="d-flex flex-grow-1 position-relative">
    <button (click)="sidebarToggle()" *ngIf="sidebar" class="btn position-absolute" style="top: 0; left: 210px">
      <i class="fas fa-close"></i>
    </button>
    <app-sidebar *ngIf="sidebar" class="bg-dark-subtle"></app-sidebar>
    <div id="page-content-wrapper" class="bg-light" style="flex-grow: 1;">
      <router-outlet></router-outlet>
    </div>
  </div>
  <div class="position-relative" style="position: relative">
    <footer class="bg-dark d-flex align-items-center" style="height: 100px;">
      <p class=" text-center text-light flex-grow-1 m-0">&copy; 2023 CRM PRO. Tous droits réservés.</p>
    </footer>
  </div>
</div>


<!--https://rdplyon07.m2iformation.info/#/client/MjAwAGMAbXlzcWw-->
<!--<div>-->
<!--  bonjour {{title}} {{age}} {{bool}}-->
<!--  <img [src]="src" alt="">-->

<!--&lt;!&ndash;  <p (click)="" [class.fond]="show"> salut</p>&ndash;&gt;-->

<!--  <p (click)="showFond()" [class.fond]="show">salut</p>-->

<!--  <div [ngClass]="{ 'fond': show, 'taille': taille < 3 }">-->
<!--   au revoir-->
<!--  </div>-->

<!--  <input [(ngModel)]="title" />-->
<!--  <button (click)="valider()" > Valider</button>-->
<!--</div>-->

<!--<app-page-list-clients></app-page-list-clients>-->
<!--<h3 class="bienvenu"> bienvenu</h3>-->

<!--<button>-->
<!--<i class="fas fa-list"></i>-->
<!--</button>-->
